<nav class="navbar navbar-inverse" style="background-color: #e3f2fd;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Let The Pitch Out</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li><a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a></li>
            <li>
                <a class="nav-link" href="/categories/coding">Coding</a>
            </li>
                <li>
                <a class="nav-link" href="/categories/life">Life</a>
                <li>
                <a class="nav-link" href="/categories/funny">Funny</a>
            </li>
            </ul>
           
            <ul class="nav navbar-nav navbar-right">
                {% if current_user.is_authenticated %}
                <li><a href="{{url_for('main.profile',uname=current_user.author)}}">Profile</a></li>
                <li><a href="{{url_for('auth.logout')}}">Sign out</a></li>
                {% else %}
                <li><a href="{{url_for('auth.login')}}">Sign in</a></li>
                {%endif%}
            </ul>
        </div>
    </div>
</nav>